html {
    background-image: url('/image/background/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin: 200px 0 180px 0;
    overflow-y: auto;
}

.main-logo {
    width: 100%;
    max-width: 549.368px;
    height: 135px;
    margin-left: 50px;
}

.title1 {
    font-size: 65px;
    font-weight: 500;
    margin: 20px 0 200px 0;
}

.scroll-btn {
    width: 47px;
    height: 67px;
    margin-bottom: 100px;
}

.scroll-button {
    text-align: center;
}
.introduction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.title-container>p {
    line-height: 1.5;
    text-align: center;
    font-size: 50px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/*애니메이션 클래스*/
.fade-in {
    animation: fadeInDown 2s ease-out forwards;
}

.fade-out {
    animation: fadeOutUp 2s ease-out forwards;
}

.introduction-container,
.section1 {
    min-height: 20vh;
}


/* tablet */
@media screen and (max-width:1024px) {
    .main-logo {
        width: min(100%, 440px);
        height: 110px;
        margin: 0;
        margin-left: 10px;
    }

    .title1 {
        font-size: 45px;
        margin: 0;
        line-height: 2;
        margin-bottom: 200px;
    }

    .title-container>p {
        font-size: 30px;
    }

    .introduction-container,
    .section1 {
        min-height: 38vh;
    }

}

/* mobile */
@media screen and (max-width:700px) {

    .main-logo {
        width: min(100%, 250px);
        height: 70px;
        margin-left: 8px;
    }

    .scroll-btn {
        width: 30px;
        height: 50px;
    }

    .title1 {
        margin: 0;
        margin-bottom: 100px;
        line-height: 2;
        font-size: 26px;
    }

    .title-container>p {
        font-size: 22px;
    }

    .title-container {
        padding: 0 50px;

    }

    

    .introduction-container,
    .section1 {
        min-height: 30vh;
    }

}