html {
    background-image: url('/image/background/playlist.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    margin: 200px 0 100px 0;
    padding: 0 184px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.subtitle {
    color: var(--title-detail-color);
    font-size: 24px;
    font-weight: 500;
    margin: 23px 0 41px 0;
}

/*img 조절*/
.record img {
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.search-container>img {
    width: 20px;
    height: 20px;
}

.search-container {
    width: 100%;
    max-width: 400px;
    height: 41px;
    border-radius: 105px;
    border: 0.8px solid rgba(255, 255, 255, 0.50);
    padding: 10px 15px 10px 20px;
    display: flex;
    margin-bottom: 104px;
    background-color: black;
    position: relative;
    z-index: 10;  
    pointer-events: auto;
}

.search-box {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    margin-left: 20px;
    color: rgba(224, 224, 224, 0.87);
}

.search-box::placeholder {
    color: rgba(224, 224, 224, 0.87);
}

.all-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    border-radius: 11.63px;
    border: 2.35px solid #FFF;
    background: rgba(212, 212, 212, 0.10);
    backdrop-filter: blur(6.5px);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.famous-line-container p {
    margin-bottom: 25px;
    font-weight: 700;
    white-space: nowrap;
}

.famous-line-container p:nth-child(1) {
    color: #FFF;
    font-size: 32px;
}

.famous-line-container p:nth-child(2) {
    font-size: 29px;
    color: #D8D8D8;
}

.famous-line-container p:nth-child(3) {
    color: rgb(251 251 251 / 54%);
    font-size: 26px;
    margin-bottom: 0;
}

/*임시*/
.ost-container {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: space-between;
}

.famous-line-container {
    text-align: center;
}

.scrollAll-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 60vh;
    width: fit-content;
}

.scroll-container {

    max-height: 477px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 68px;
    /* 스크롤바와 컨텐츠 사이에 여유 공간 추가 */

}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.play-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;

    height: 7vh;
    width: 25vw;
    font-size: 22px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(212, 212, 212, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    cursor: pointer;
}
.play-list:hover{ 
    border: 1px solid rgb(185, 183, 183);
 }

/*tablet*/
@media screen and (max-width: 1330px) {
    .ost-container {
        gap: 20px;
    }
    .scroll-container{
        padding-right: 90px;
    }
    .famous-line-container {
        padding-left: 50px;
    }

    .famous-line-container p:nth-child(1) {
        font-size: 28.5px;
    }

    .famous-line-container p:nth-child(2) {
        font-size: 26px;
    }

    .famous-line-container p:nth-child(3) {
        font-size: 23px;
    }
    .play-list{
        font-size: 18px;
    }
}

/* tablet */
@media screen and (max-width: 1024px) {

    #main{
        display: flex;
        flex-direction: column;
        padding: 0 78px;
    }
    .ost-container{
        display: flex;
        flex-direction: column;
    }
    .play-list{
        width: 32vh;
        height: 7vh;
    }
    .all-container{
        border: 1.2px solid #FFF;
    }
    .scroll-container{
        padding-right: 0;
    }
    .famous-line-container{
        padding-left: 0;
    }
    .record img{
        width: 350px;
        height: 350px;
    }
}

/* mobile */
 @media screen and (max-width: 700px) {
    #main {
        padding: 0 50px; 
        margin-top: 150px;
    }

    .all-container {
        border: none;
        background: none;
        backdrop-filter: none;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 18px;
    }

    .search-container {
        margin-bottom: -50px;
    }
    .famous-line-container{
        padding: 0;
    }

    .famous-line-container p:nth-child(1) {
        font-size: 23.7px;
    }

    .famous-line-container p:nth-child(2) {
        font-size: 22px;
    }

    .famous-line-container p:nth-child(3) {
        font-size: 19px;
    }

    .record img {
        width: 100%;
        max-width: 270px;
        height: 270px;
    }

    .play-list{
        font-size: 16px;
        height: 6vh;
        border-radius: 8px;
    }
}