html {
    background-image: url('/image/background/playlist.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    margin: 200px 0 50px 0;
    padding: 0 184px;
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.subtitle {
    color: var(--title-detail-color);
    font-size: 24px;
    font-weight: 500;
    margin: 23px 0 41px 0;
}

/*img 조절*/
.element-container>img {
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.search-container>img {
    width: 20px;
    height: 20px;
}

.search-container {
    width: 100%;
    max-width: 400px;
    height: 41px;
    border-radius: 105px;
    border: 0.8px solid rgba(255, 255, 255, 0.50);
    padding: 10px 15px 10px 20px;
    display: flex;
    margin-bottom: 104px;
    background-color: black;
}

.search-box {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    margin-left: 20px;
    color: rgba(224, 224, 224, 0.87);
}

.search-box::placeholder {
    color: rgba(224, 224, 224, 0.87);
}

/* 전체 음악 컨테이너 */
.playlistAll-container {
    display: flex;
    width: 100%;
    max-width: 1552px;
    height: 793px;
    border-radius: 11.63px;
    border: 2.35px solid #FFF;
    background: rgba(212, 212, 212, 0.10);
    backdrop-filter: blur(6.5px);
    padding: 130px 0 0 151px;
    gap: 300px;
}

.famoust-line {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
}

.line2 {
    font-size: 29px;
    color: #D8D8D8;
    margin: 25px 0;
}

.line3 {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.34);
}

/* 스크롤 */
.scroll-container {
    max-height: 477px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.playList {
    padding: 17px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid #FFF;
    background: rgba(212, 212, 212, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.ostTitle {
    font-size: 18.5px;
}

@media screen and (max-width:1700px) {
    .playlistAll-container{
        gap: 130px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:1350px) {
    .playlistAll-container{
        gap: 60px;
         
    }
    .playList{
        width: 100%;
        max-width: 320px;
    }
    .line1{
        font-size: 25px;
    }
    .element-container>img{
        width: 300px;
        height: 300px;
    }
}
@media (min-width:1025px) and (max-width:1200px) {
     
    .playList{
        width: 100%;
        max-width: 280px;
    }
}
@media screen and (max-width: 925px) {
    .playlistAll-container{
        display: flex;
        flex-direction: column;
        border: none;
        background: none;
    }
    .element-container{
        margin-left: -70px;
    }
}

/* tablet */
@media screen and (max-width:1024px) {
    #main {
        padding: 0 78px;
    }

    .playlistAll-container {
        padding: 0px 0 0 54px;
        display: flex;
        /* flex-direction: ; */
        justify-content: center;
        align-content: center;
        gap: 50px;
    }

    .element-container>img {
        width: 320px;
        height: 320px;
    }

    .line1 {
        font-size: 24px;
    }

    .line2 {
        font-size: 20px;
    }

    .line3 {
        font-size: 18.5px;
    }

    .playList {
        width: 100%;
        max-width: 320px;
        height: 48.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ostTitle{
        font-size: 16px;
    }
}

/* mobile */
@media screen and (max-width:700px) {
    #main {
        padding-left: 50px;
    }

    .title {
        font-size: 18px;
        margin-top: -50px;
    }

    .subtitle {
        font-size: 15px;
        margin: 20px 0;
        white-space: nowrap;
    }

    .search-container {
        font-size: 12px;
        width: 280px;
        height: 35px;
    }

    

    .playlistAll-container {
        padding: 0 !important;
        gap: 0;
        display: flex;
        flex-direction: column;
        background: none;
        border: none;
        justify-content: center;

    }

    .line1 {
        font-size: 18px;
    }

    .line2 {
        font-size: 17px;
    }

    .line3 {
        font-size: 15px;
    }

    .search-container>img {
        width: 12px;
        height: 12px;
    }

    .element-container {
        margin: 0 auto;
        
    }

    .element-container>img {
        width: 200px;
        height: 197.849px;
    }

    .scroll-container {
        margin: 0 auto;
    }

    .playList {
        width: 220px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }

    .ostTitle {
        white-space: nowrap;
        font-size: 13px;
    }
}