html {
    background-image: url('/image/background/diary-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body>header {
    position: none;
    background-color: transparent;
}

#main {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

/* img size 조절 */
.write-btn {
    width: 173.776px;
    height: 59.609px;
    margin-bottom: 50px;
}

.dramaTitle {
    white-space: nowrap;
    width: 100px;
}


.explain-container {
    padding-left: 184px;
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.subtitle {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 24px;
    font-weight: 500;
    margin: 23px 0 41px 0;
}

.all-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 70px;
}

.scroll-container {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
    width: 80%;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.diarylist-container {
    /* 기본적으로 3개씩 배치 */
    flex: 1 1 calc(33.33% - 40px);
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 2.947px 2.947px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.diarylist-container .dramaTitle {
    font-size: 18px;
    font-weight: bold;
    color: #4B79A1;
    margin-bottom: 10px;
}

.diarylist-container .detail {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}

.diarylist-container .user-container {
    display: flex;
    align-items: center;
}

.diarylist-container .user-container img {
    width: 38px;
    height: 35px;
    margin-right: 10px;
}

.diarylist-container .user-name {
    font-size: 14px;
    color: #555;
    margin-right: 10px;
}

.diarylist-container .dot {
    flex-grow: 1;
    text-align: right;
}

/* Hover*/
.diarylist-container:hover {
    transform: translateY(-10px);
}

.edit-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
}

.edit-menu button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

.edit-menu button:hover {
    background-color: #ddd;
}



/* tablet */
@media screen and (max-width: 1024px) {
    .explain-container {
        padding: 0 78px;
    }

    .diarylist-container {
        /* 화면이 1024px 이하일 때 2개씩 배치 */
        flex: 1 1 calc(50% - 40px);
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
        margin: 13px 0 17px 0;
    }

    .write-btn {
        width: 168px;
        height: 55px;
    }
}

/* mobile */
@media screen and (max-width: 700px) {
    #main {
        margin: 150px 0 100px 0;
    }

    .explain-container {
        padding: 0 55px;
    }

    .diarylist-container {
        /* 1개씩 배치 */
        flex: 1 1 100%;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .scroll-container::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 15px;
        margin: 13px 0 17px 0;
    }

    .write-btn {
        margin-bottom: 10px;
        width: 120px;
        height: 40px;
    }

}