 html {
     background-image: url('/image/background/diary-bg.png');
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     /* 스크롤 시에도 배경 이미지 고정 */
 }

 body>header {
     background-color: transparent;
 }

 main {
     margin-top: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
 }

 .all-container {
     width: 100%;
     height: 100vh;
     max-width: 1201px;

     height: 679px;
     border-radius: 11.63px;
     border: 0.5px solid #FFF;
     background: rgba(14, 14, 14, 0.25);
     backdrop-filter: blur(6.5px);
     position: relative;
     z-index: 0;
 }


 #write-container {
     display: flex;
     flex-direction: column;
     padding: 10px 180px;
 }

 .prev-btn {
     width: 30px;
     height: 30px;
     margin: 50px 0 40px 51px;
 }

 #title {
     outline: none;
     border: none;
     font-size: 25px;
     margin-bottom: 20px;
     background-color: transparent;
     color: var(--title-color);
 }

 input::placeholder {
     color: var(--title-color);
 }

 textarea::placeholder {
     color: #B6ADAD;
 }

 #writing-box {
     font-size: 18px;
     line-height: 1.5;
     color: #B6ADAD;
     padding: 50px 50px 0 50px;
     background-color: rgb(30 30 30 / 50%);
     border-radius: 5px;
     border: 1px solid #7a7a7a;
     resize: none;
     outline: none;
 }

 .count {
     display: flex;
     justify-content: flex-end;
     font-size: 16px;
     margin: 13px 0 9px 0;
 }

 .btn-wrapper {
     display: flex;
     justify-content: center;
 }

 .send {
     width: 100%;
     max-width: 419px;
     height: 51px;
     border-radius: 8px;
     font-size: 18px;
     opacity: 0.8;
     color: black;
     background: rgba(235 235, 235, 1);
     cursor: pointer;
     border: none;
 }

 .send:hover {
     background: rgba(255, 255, 255, 0.87);
     color: black
 }

 @media (max-width: 1480px) {
     .all-container {
         max-width: 1000px;
     }
 }

 @media (max-width: 1200px) {
     .all-container {
         max-width: 800px;
         height: 600px;
     }
     #write-container{
        padding: 0;
        display: flex;
        justify-content: center;
        width: 600px;
        margin: 0 auto;
     }

     #title {
         font-size: 20px;
     }

     #writing-box,
     .count {
         font-size: 15px;
     }

     .send {
         width: 271px;
         height: 44px;
     }
      
 }
 @media (max-width:900px){
    .all-container{
        width: 600px;
    }
    #write-container{
        padding: 0;
        display: flex;
        justify-content: center;
        width: 450px;
        margin: 0 auto;
     }
     .count{
        margin-bottom: 20px;
     }
     .send{
        width: 250px;
        height: 40px;
     }
 }

@media (min-width: 551px) and (max-width: 650px){
    .all-container{
        width: 500px;
        height: 560px;
   }
   #write-container{
    padding: 0;
    display: flex;
    justify-content: center;
    width: 385px;
    margin: 0 auto;
 }
 #title{
    font-size: 17px;
 }
 #writing-box{
    font-size: 13px;
    padding: 20px;
 }
 .send{
    font-size: 16px;
 }
 .prev-btn{
    width: 25px;
    height: 25px;
 }
} 
    
 @media (max-width:550px){
    .all-container{
         width: 320px;
         height: 600px;
    }
    #write-container{
        display: flex;
        justify-content: center;
        width: 250px;
        margin: 0 auto;
     }
     #writing-box{
        padding: 20px 10px 0 12px;
     }
     #title{
        font-size: 15px;
        margin-left: 10px;
     }
     .count{
        font-size: 10px;
     }
     #writing-box{
        font-size: 10px;
        height: 320px;
     }
     .prev-btn{
        margin: 30px 20px;
        width: 22px;
        height: 22px;
     }
     .send{
        width: 180px;
        height: 33px;
        font-size: 13px;
     }
 }