html {
    background-color: black;
}

#main {
    margin: 140px 0 150px 0;
    padding: 0 184px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.sub-logo {
    width: 100%;
    max-width: 1100px;
    height: 400px;
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.subtitle {
    color: var(--title-detail-color);
    font-size: 24px;
    font-weight: 500;
    margin: 23px 0 41px 0;
}

.poster {
    width: 100%;
    max-width: 240px;
    height: 450px;
    /* 애니메이션 효과 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.8;
}

.poster3{
    border-top-left-radius: 5px; 
}

.all-container {
    display: flex;
    gap: 90px;
}

.period-container {
    display: inline-block;
    text-align: center;
}

.poster:hover {
    transform: scale(1.1);
    opacity: 1;
}

.year {
    color: rgba(255, 255, 255, 0.64);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 13px;
}

/* tablet */
@media screen and (max-width: 1024px) {
    #main {
        padding: 0 60px; 
    }

    .sub-logo {
        max-width: 900px; 
        height: auto; 
    }

    .title {
        font-size: 24px;
        margin-left: 28px;
    }

    .subtitle {
        font-size: 17px; 
        margin: 20px 0 40px 28px; 
    }

    .all-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 두 개씩 배치 */
        gap: 20px; 
    }

    .period-container {
        width: 100%;
        margin-bottom: 20px; 
    }

    .poster {
        max-width: 65%;
        height: auto; 
        opacity: 1;
    }
}

/* mobile */
@media screen and (max-width: 700px) {
    #main {
        padding: 0 30px;
    }

    .sub-logo {
        max-width: 600px;
        height: auto; 
    }

    .title {
        font-size: 19px;
        margin: 10px 0 0 2px;
    }

    .year{
        font-size: 16px;
    }

    .subtitle {
        font-size: 14px;
        margin: 13px 0 35px 2px;
    }

    .all-container {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); /* 한 줄에 두 개씩 */
        gap: 20px; 
    }

    .period-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .poster {
        max-width: 145px;
        height: auto; 
    }
}
